<div class="dashboard-header" style="margin-top: -30px; padding-bottom: 20px;">
  <h1 class="md-display-3">Dashboard</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Today's Todo List</h1>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <button type="button" class="list-group-item">
              <span class="badge">3</span>
              Overdue Tasks
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">7</span>
              Tasks Due Today
            </button>
            <button type="button" class="list-group-item">
              <span class="badge">{{taskList.length}}</span>
              Checklist items
            </button>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Tasks</h2>
        </div>
        <div class="panel-body">
          <form>
            <input ng-model="newTask.name" placeholder="Task name"/>
            <input style="margin-left:20px" type="text" ng-model="newTask.assignedTo" placeholder="Assigned To"/>
            <input style="margin-left:20px" type="text" ng-model="newTask.description" placeholder="Description"/>
            <md-datepicker md-placeholder="Enter date" ng-model="newTask.dueDate"></md-datepicker>
            <button style="margin-left:20px" class="btn btn-primary" ng-click="addTask(newTask)">Add task</button>
          </form>

          <table class="table">
            <thead >
              <tr>
                <th id="th-one" class="text-center" style="padding-left:40px;">Task Name</th>
                <th id="th-two" class="text-right" style="padding=0;">Assigned To</th>
                <th id="th-three" class="text-right" style="padding-right:18px;padding-left:0;">Due Date</th>
              </tr>
            </thead>
          </table>
          <div class="list-group">
              <a href="#" class="list-group-item" ng-repeat="task in taskList">
                <div class="row">
                  <div class="col-xs-6">
                    {{task.name}}
                  </div>
                  <div class="col-xs-4 text-center" style="padding:0;">
                    {{task.assignedTo}}
                  </div>
                  <div class="col-xs-2 text-center" style="padding:0">
                    {{task.dueDate | date}}
                  </div>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<dashboard-graphs></dashboard-graphs>

<!-- <button class="btn btn-primary bt-lg" ng-click="createNotification()">Click me to add</button>
<br><br>
<notification-icon count="noteCounter" clear-trigger="click" >
  <button class="btn btn-primary bt-lg" animation='bounce'>Click me to clear</button>
</notification-icon> -->
