<div class="dashboard-header">
  <h1 class="md-display-3">Dashboard</h1>
</div>
<div class="row">
  <div class="col-md-10 col-sm-10 col-lg-6">
    <highchart id="gciPerMonth" config="gciPerMonth"></highchart>
  </div>
  <div class="col-md-10 col-sm-10 col-lg-6">
    <highchart id="chart1" config="gciTotal"></highchart>
  </div>
</div>

<button class="btn btn-primary bt-lg" ng-click="createNotification()">Click me to add</button>
<br><br>
<notification-icon count="noteCounter" clear-trigger="click" >
  <button class="btn btn-primary bt-lg" animation='bounce'>Click me to clear</button>
</notification-icon>
