<div class="wrapper home-page" ng-controller="MainCtrl">

  <md-toolbar class="md-tall home-page-menu">
    <h1>RETracker</h1>
    <div class="container login-menu-link">
      <div class="row">
        <div class="col-md-2 col-md-offset-11">
          <h2 class="md-toolbar-tools">
            <a href="/#/login">Login</a>
          </h2>
        </div>
        <!-- <div class="col-md-8">

        </div> -->
      </div>
    </div>

  </md-toolbar>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 home-page-img">
        <img src="img/mac-desk copy2.jpg" alt="Homepage photo of mac at empty desk" />
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>

    </div>

  </div>


</div>
