<md-dialog aria-label="Mango (Fruit)" ng-controller="MainCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{listings.address[0]}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog" md-svg-src="img/ic_clear_white_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;">
      <md-tabs md-border-bottom md-dynamic-height>

        <!--------------------------------------------- FIRST TAB ----------------------------------------------------->
        <md-tab label="Property Details">
          <md-content class="md-padding">
            <p class="md-display-1">
              Property Details
            </p>

            <!--------------- Address --------------->
            <md-content layout-padding class="md-padding">
              <md-input-container class="md-block">
                <label>Address</label>
                <input ng-model="user.address">
              </md-input-container>
            </md-content>

          <!--------------- Contract Status --------------->
          <md-content layout-padding layout-sm="column" layout="row" class="md-padding">
            <!-- Status -->
            <md-input-container flex>
              <label>Status</label>
              <md-select ng-model="user.status">
                <md-option ng-repeat="status in invStatus" value="{{status.abbrev}}">
                  {{status.abbrev}}
                </md-option>
              </md-select>
            </md-input-container>
          </md-content>

          <md-content layout-padding>
            <form>
              <div layout="row">
                <!--------------- Listing Signed --------------->
                <md-datepicker md-placeholder="Listing signed" ng-model="user.listingSigned"></md-datepicker>
                <!--------------- Listing Expires --------------->
                <md-datepicker md-placeholder="Expiration date" ng-model="user.listingExp"></md-datepicker>
                <!--------------- Projected Close Date --------------->
                <md-datepicker md-placeholder="Proj Close" ng-model="user.projectedCloseDate"></md-datepicker>
                <!--------------- Actual Close Date --------------->
                <md-datepicker md-placeholder="Actual Close" ng-model="user.actualCloseDate"></md-datepicker>

              </div>
            </form>
          </md-content>

          <md-content layout-padding>
            <form>
              <div layout="row">
                <md-input-container flex>
                  <label>List Price</label>
                  <input ng-model="user.listPrice"/>
                </md-input-container>
                <md-input-container flex>
                  <label>Sale Price</label>
                  <input ng-model="user.salePrice"/>
                </md-input-container>
                <md-input-container flex>
                  <label>Commission %</label>
                  <input ng-model="user.commissionPercentage"/>
                </md-input-container>
              </div>
            </form>
          </md-content>

          <md-content layout-padding>
            <form>
              <div layout="row">
                <!--------------- Inspection Date --------------->
                <md-datepicker md-placeholder="Inspection Date" ng-model="user.inspectionDate"></md-datepicker>
                <!--------------- Appraisal Date --------------->
                <md-datepicker md-placeholder="Appraisal Date" ng-model="user.appraisalDate"></md-datepicker>

              </div>
            </form>
          </md-content>
          <md-content layout-padding>
            <md-input-container flex>
              <label>Mortgage Company</label>
              <input ng-model="user.mortgageCompany"/>
            </md-input-container>
            <md-input-container flex>
              <label>Title/Escrow Company</label>
              <input ng-model="user.titleEscrowCompany"/>
            </md-input-container>
          </md-content>

          <md-divider></md-divider>

          <p class="md-display-1">
            Transaction Details
          </p>
          <md-content layout-padding>
            <form>
              <div layout="row">
                <md-input-container flex>
                  <label>GCI</label>
                  <input ng-model="user.gci"/>
                </md-input-container>
                <md-input-container flex>
                  <label>Company Dollar</label>
                  <input ng-model="user.companyDollar"/>
                </md-input-container>
                <md-input-container flex>
                  <label>Royalty</label>
                  <input ng-model="user.royalty"/>
                </md-input-container>
                <md-input-container flex>
                  <label>Referral Paid</label>
                  <input ng-model="user.referralPaid"/>
                </md-input-container>
              </div>
            </form>
          </md-content>
          <md-content layout-padding>
            <form>
              <div layout="row">
                <md-input-container flex>
                  <label>Lead Source</label>
                  <input ng-model="user.clientSource"/>
                </md-input-container>
                <md-input-container flex>
                  <label>Units</label>
                  <input ng-model="user.units"/>
                </md-input-container>
                <md-input-container flex>
                  <label>E&O</label>
                  <input ng-model="user.eAndO"/>
                </md-input-container>
              </div>
            </form>
          </md-content>

        </md-tab>




        <!--------------------------------------------- SECOND TAB ----------------------------------------------------->
        <md-tab label="Milestone Checklist">
          <md-content class="md-padding">
            <p class="md-display-2">
              Activity Checklist:
            </p>
          </md-content>
        </md-tab>
        <md-tab label="Forms Checklist">
          <md-content class="md-padding">
            <p class="md-display-2">
              Forms Checklist:
            </p>
            Required: Greensheet MLS Printout READE Buyer/Broker ABA Counter offers Purchase contract EM Recpt Buyer Advisory Mold Disclosure Possible: Limited Rep Pre-qual POF FHA HOA Short Sale add as-is LBP Pool On-site wastewater add Mil/public airport disclosure Unrepresented Seller Compensation Trailing docs: SPDS BINSR CLUE Final walkthrough LSU Price Change or misc addendums Short sale agreement notification Water/Well SPDS Power of Attorney/Trustee/Personal Rep Auth If Res Income: Res income add res income add to spds
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="getValue()">
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
