<div class="listings-container" id='popupContainer' style="margin-bottom: 15px;">
  <md-toolbar layout-align='center end'>
    <div class="md-toolbar-tools">
      <h2>
        <span>Current Listings</span>
      </h2>
      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-button-icon" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon aria-label="add" class="s24" md-svg-src="img/ic_add_black_36px.svg"></md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button ng-click="">
              Add Listing...
            </md-button>
            <md-button></md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

  <md-whiteframe class="md-whiteframe-6dp" flex-gt-md="25" flex-gt-sm="35" flex-sm="45" layout layout-align="center center">
    <div class="">
      <img src="http://placehold.it/550x150">
    </div>
  </md-whiteframe>
  
</div>

  <div class="listings-container" style="margin-bottom: 10px;">
    <md-toolbar layout-align='center end'>
      <div class="md-toolbar-tools">
        <h2>
          <span>Current Buyers</span>
        </h2>
        <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-button-icon" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon aria-label="add" class="s24" md-svg-src="img/ic_add_black_36px.svg"></md-icon>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item>
              <md-button ng-click="">
                Add Buyer...
              </md-button>
              <md-button></md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
  </div>

  <md-whiteframe class="md-whiteframe-6dp" flex-gt-md="25" flex-gt-sm="35" flex-sm="45" layout layout-align="center center">
    <div class="">
      <img src="http://placehold.it/550x150">
    </div>
  </md-whiteframe>
</div>
