<div class="listings-container" style="margin-bottom: 15px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Current Listings</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-src="img/ic_add_black_36px.svg" class="s24" aria-label="add"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-whiteframe class="md-whiteframe-6dp" flex-gt-md="25" flex-gt-sm="35" flex-sm="45" layout layout-align="center center">
    <div class="">
      <img src="http://placehold.it/550x150">
    </div>
  </md-whiteframe>

</div>

<div class="listings-container" style="margin-bottom: 10px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Current Buyers</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-src="img/ic_add_black_36px.svg" class="s24" aria-label="add"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-whiteframe class="md-whiteframe-6dp" flex-gt-md="25" flex-gt-sm="35" flex-sm="45" layout layout-align="center center">
    <div class="">
      <img src="http://placehold.it/550x150">
    </div>
  </md-whiteframe>

</div>
