<div class="container">
  <form class="form-horizontal">

      <!-- Form Name -->
      <legend>Listing Form</legend>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-2 control-label">Client</label>
        <div class="col-md-6">
          <select ng-options="client.name for client in clients" class="form-control" id="listingClient" ng-model="client"></select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="purchaseClient">Address</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listingAddress" placeholder="Street, City, State, Zip..." required="" type="text" ng-model="address">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-2 control-label">Status</label>
        <div class="col-md-6">
          <select class="form-control" id="listingAddress" ng-model="status">
            <option value="Pre-signed">Pre-signed</option>
            <option value="Active">Active</option>
            <option value="Pending">Pending</option>
            <option value="Closed">Closed</option>
            <option value="Cancelled">Cancelled</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-2 control-label">Source</label>
        <div class="col-md-6">
          <select class="form-control" id="listingSource" ng-model="source">
            <option value="Friend">Friend</option>
            <option value="Family">Family</option>
            <option value="Lead Website">Lead Website</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="listPrice">List Price</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listPrice" name="listPrice" placeholder="List Price" type="text" ng-model="listPrice">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="salePrice">Sale Price</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="salePrice" name="salePrice" placeholder="Sale Price" type="text" ng-model="salePrice">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="commissionPercentage">Commission %</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="commissionPercentage" name="commissionPercentage" placeholder="Commission %" type="text" ng-model="commission">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Units</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listingUnits" placeholder="Units" type="text" ng-model="units">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="listingGCI">GCI</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listingGCI" placeholder="GCI" type="text" ng-model="gci">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Company $</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="companyDollar" placeholder="Company $" type="text" ng-model="companyDollar">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Royalty</label>
        <div class="col-md-4">
          <input class="form-control input-md" id="listingRoyalty" placeholder="Royalty" type="text" ng-model="royalty">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label"> Referral $ Paid </label>
        <div class="col-md-6">
          <input class="form-control input-md" id="referralPaid" placeholder="ReferralPaid" type="text" ng-model="referralPaid">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">E&O</label>
        <div class="col-md-4">
          <input id="eAndO" class=" form-control id="eAndO" type=" input-md" text" placeholder="E&O" ng-model="eo">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Mortgage Company</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="mortgageCompany" placeholder="Mortgage Company" type="text" ng-model="mortgageCompany">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Title/Escrow Company</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="titleEscrowCompany" placeholder="Title/Escrow Company" type="text" ng-model="titleEscrowCompany">

        </div>
      </div>

    <div class="row">
      <div class="col-md-offset-6">
        <md-button id="clientEditButton" class='md-primary md-raised' ng-click='editListingFields()'>Edit</md-button>
        <md-button id="clientSubmitButton" class='md-primary md-raised' ng-click='postListing($event, client._id, address, status, source, listPrice, salePrice, commission, units, gci, companyDollar, royalty, referralPaid, eo, mortgageCompany, titleEscrowCompany)'>Submit</md-button>
      </div>
    </div>

  </form>

</div>
