<div class="container">
  <form class="form-horizontal">


      <!-- Form Name -->
      <legend>Listing Form</legend>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Client</label>
        <div class="col-md-6">
          <select ng-options="client.name for client in clients track by client._id" class="form-control" id="buyerClient" ng-model="listing.client"></select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="purchaseClient">Address</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listingAddress" placeholder="Client" required="" type="text" ng-model="listing.address">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-2 control-label">Status</label>
        <div class="col-md-6">
          <select class="form-control" id="listingAddress" ng-model="listing.status">
            <option value="Pre-signed">Pre-signed</option>
            <option value="Active">Active</option>
            <option value="Pending">Pending</option>
            <option value="Closed">Closed</option>
            <option value="Cancelled">Cancelled</option>
          </select>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-2 control-label">Source</label>
        <div class="col-md-6">
          <select class="form-control" id="listingSource" ng-model="listing.source">
            <option value="Friend">Friend</option>
            <option value="Family">Family</option>
            <option value="Lead Website">Lead Website</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="listPrice">List Price</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listPrice" name="listPrice" placeholder="List Price" type="text" ng-model="listing.listPrice">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="salePrice">Sale Price</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="salePrice" name="salePrice" placeholder="Sale Price" type="text" ng-model="listing.salePrice">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Contract Date</label>
        <div class="col-md-6">
        <md-datepicker md-placeholder="Enter date" ng-model="listing.contractDate"></md-datepicker>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Projected Close Date</label>
        <div class="col-md-6">
        <md-datepicker md-placeholder="Enter date" ng-model="listing.projectedCloseDate"></md-datepicker>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Acutal Close Date</label>
        <div class="col-md-6">
        <md-datepicker md-placeholder="Enter date" ng-model="listing.actualCloseDate"></md-datepicker>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">Appraisal Date</label>
        <div class="col-md-6">
        <md-datepicker md-placeholder="Enter date" ng-model="listing.appraisalDate"></md-datepicker>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="commissionPercentage">Commission %</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="commissionPercentage" name="commissionPercentage" placeholder="Commission %" type="text" ng-model="listing.commissionPercentage">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Units</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listingUnits" placeholder="Units" type="text" ng-model="listing.units">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="listingGCI">GCI</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="listingGCI" placeholder="GCI" type="text" ng-model="listing.gci">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Company $</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="companyDollar" placeholder="Company $" type="text" ng-model="listing.companyDollar">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Royalty</label>
        <div class="col-md-4">
          <input class="form-control input-md" id="listingRoyalty" placeholder="Royalty" type="text" ng-model="listing.royalty">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label"> Referral $ Paid </label>
        <div class="col-md-6">
          <input class="form-control input-md" id="referralPaid" placeholder="ReferralPaid" type="text" ng-model="listing.referralPaid">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">E&O</label>
        <div class="col-md-4">
          <input id="eAndO" class=" form-control id="eAndO" type=" input-md" text" placeholder="E&O" ng-model="listing.eo">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Mortgage Company</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="mortgageCompany" placeholder="Mortgage Company" type="text" ng-model="listing.mortgageCompany">

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Title/Escrow Company</label>
        <div class="col-md-6">
          <input class="form-control input-md" id="titleEscrowCompany" placeholder="Title/Escrow Company" type="text" ng-model="listing.titleEscrowCompany">

        </div>
      </div>



    <div class="row">
      <div class="col-md-offset-6">
        <md-button id="clientEditButton" class='md-primary md-raised' ng-click='putListing(listing._id, listing.client, listing.address, listing.status, listing.source, listing.listPrice, listing.salePrice, listing.commissionPercentage, listing.units, listing.gci, listing.companyDollar, listing.royalty, listing.referralPaid, listing.eAndO, listing.mortgageCompany, listing.titleEscrowCompany)'>Edit</md-button>
      </div>
    </div>

  </form>

</div>
