<div class="container-fluid login-container">
  <div class="row">
    <div class="col-md-5 boxes"></div>
    <div class="col-md-6 boxes">
      <h1>Login Page</h1>
    </div>
    <div class="col-md-2 boxes"></div>
  </div>

  <div class="row login-form">
    <div class="col-md-4 boxes">

    </div>
    <div class="col-md-7 boxes">
      <div class="">
        <formio src="'https://ftypukpoowsoqgv.form.io/user/login'"></formio>
        <a class="" href='api/auth/'><img src="img/login_1.png" alt="" /></a>
      </div>
    </div>
    <div class="col-md-1 boxes">

    </div>
  </div>
</div>
