<div class="container-fluid login-container">
  <div class="row">
    <div class="col-md-4 boxes"></div>
    <div class="col-md-6 boxes">
      <h1>Login Page</h1>
    </div>
    <div class="col-md-2 boxes"></div>
  </div>

  <div class="row login-form">
    <div class="col-md-3 boxes">

    </div>
    <div class="col-md-8 boxes">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-md-1 boxes">

    </div>
  </div>
</div>
