.main-layout{
  margin: 0;
  overflow-y: scroll;
}

.testRed{
  min-height: 40px;
  background-color: red;
}

.testBlue{
  min-height: 40px;
  max-height: 90%;
  background-color: blue;
  overflow-y: scroll;
}

.listdemoListControls {
  /* Add some right padding so that the text doesn't overlap the buttons */ }
  .listdemoListControls md-divider {
    margin-top: -10px;
    margin-bottom: -10px; }
  .listdemoListControls md-list-item > p,
  .listdemoListControls md-list-item > .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
  .listdemoListControls .secondary-button-padding p {
    padding-right: 100px; }
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
